.self {
	margin-top: 100px;
	cursor: pointer;

	&..active {
		cursor: -moz-grab;
    	cursor: -webkit-grab;
    	cursor: grab;
		..element-resizer {
			opacity: 0.7;
		}
	}

	&..dragged {
		cursor: -moz-grabbing;
    	cursor: -webkit-grabbing;
    	cursor: grabbing;
	}

	&..fixed {
		position: fixed !important;
	}
	&..locked {
		cursor: not-allowed !important;
	}
}
