.with.auto.addedPrefix.main-menu;

.self {
	var .rel.r65.t.fs14;

	& > span {
		var .rel.pntr.inb.vtop.ml44.lh50.c-ddd;

		&..active {
			var .c-ffd638!;

			& > div {
				color: inherit;
				var .o5;
			}
		}

		&:hover {
			var .c-fff;
		}
		&:after {
			var .cnt.abs.b17.h1.l.r.bc-fff.o;
		}
		&:hover:after {
			opacity: 0.3;
		}

		& > div {
			position: absolute;
			left: -20px;
			top: 50%;
    		margin-top: -8px;
			color: #fff;
			opacity: 0.3;
			line-height: 16px;
		}
	}
}
