..main-menu {
	position: absolute;
	right: 65px;
	top: 0;
	font-size: 14px;

	& > span {
		position: relative;
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		margin-left: 44px;
		line-height: 50px;
		color: #ddd;

		&..active {
			color: #ffd638 !important;
			& > div {			
				color: inherit;
				opacity: 0.5;
			}
		}

		&:hover {
			color: #fff;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 17px;
			height: 1px;
			left: 0;
			right: 0;
			background-color: #fff;
			opacity: 0;
		}
		&:hover:after {
			opacity: 0.3;
		}

		& > div {
			position: absolute;
			left: -20px;
			top: 50%;
    		margin-top: -8px;
			color: #fff;
			opacity: 0.3;
			line-height: 16px;
		}
	}
}
