.x-task-checkbox {
	cursor: pointer;
	display: block;
	padding: 4px 0;

	input {
		float: left;
		margin-right: 5px;
		margin-top: 2px;
	}
	&:after {
		content: '';
		display: block;
		clear: left;
	}
}