..visual-element-panel {
	position: fixed;
	top: 50%;	
	transform: translate(0, -50%);
	border-radius: 0 5px 5px 0;
	padding: 10px 6px;
	color: #fff;
	z-index: 9996;
	user-select: none;
	background-color: #555;

	..icon {
		&..element-type {
			margin-bottom: 10px;
			cursor: default;
			color: #888;
			font-size: 35px;
			&:hover {
				color: #888;
			}
		}
	}
}
