.x-task-visual-element-panel {
	position: fixed;
	left: 50%;
	bottom: 0;
	margin-left: -250px;
	width: 500px;
	border-radius: 3px 3px 0 0;
	border: 1px solid #333;
	border-bottom: 0;
	padding: 6px;
	color: #fff;
	z-index: 9996;
	user-select: none;
	background-color: #555;
}
