.with.addedPrefix.notification;

.self {
	border-radius: 3px;
	border: 1px solid #9a0025;
	background-color: #d20033;
	line-height: 16px;
	color: #fff;
	padding: 10px 14px;
	margin-bottom: 10px;
	font-size: 13px;

	&.success {
		border: 1px solid #4e9200;
		background-color: #6bc305;
	}
}