.with.addedPrefix.form-field;

.self {
	.caption {
		padding-bottom: 6px;
		color: #555;
		font-size: 13px;
	}
	input[type="text"],
	input[type="password"],
	select,
	textarea {
		box-sizing: border-box;
		width: 100%;
	}
}