.x-task-create-task-button {
	position: fixed;
	z-index: 9990;
	bottom: 11px;
	left: 55px;
	cursor: pointer;
	color: #999;
	background-color: #fff;
	padding: 3px;
	border-radius: 3px;

	&:hover {
		color: #111;
	}

	.x-task-icon {
		font-size: 26px;
		line-height: 26px;
		float: left;
	}
}