.self {
	position: fixed;
	z-index: 9990;
	bottom: 6px;
	left: 8px;
	cursor: pointer;
	color: #444;
	background-color: #fff;
	padding: 4px 2px 2px 4px;
	border-radius: 3px;

	&:hover {
		color: #111;
	}

	..icon {
		font-size: 40px;
		line-height: 40px;
		float: left;
	}
}