.self {
	position: fixed;
	z-index: 9990;
	bottom: 6px;
	left: 8px;
	cursor: pointer;
	color: #eee;
	background-color: #555;
	border-radius: 3px;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	overflow: hidden;

	&:hover {
		background-color: #444;
		color: #fff;
	}

	..icon {
		font-size: 30px;
		line-height: 40px;
		float: left;
		margin-left: 6px;
	}
}