.self {
	.menu {
		font-size: 0;
		line-height: 0;
		letter-spacing: -1px;
		margin-bottom: 10px;
	}
	.tab {
		position: relative;
		text-align: center;
		min-width: 40px;
		letter-spacing: 0;
		line-height: 16px;
		font-size: 13px;
		display: inline-block;
		vertical-align: top;
		padding: 7px 10px;
		margin-right: 1px;
		background-color: #ddd;
		cursor: pointer;
		user-select: none;
		box-sizing: content-box;

		.count {
			var .abs.r6.t5.bl.ml5.p2-3.bc-b7b7b7.br4.fr;
			&:empty {
				var .none;
			}
		}

		&:first-child {
			border-radius: 5px 0 0 5px;
		}
		&:last-child {
			border-radius: 0 5px 5px 0;
		}
		&:only-child {
			border-radius: 5px;
		}
		&.active {
			background-color: #555;
			color: #fff;
			.count {
				var .bc-848484.c-fff;
			}	
		}
		&.disabled {
			cursor: default;
			color: #999;
		}
	}
	&.absolute {
		& > .menu {
			var .pl20;
		}
		& > .content {
			var .abs.t55.l.r.b5.ova.box.p0-20;
		}
		&.no-overflow {
			& > .content {
				var .ovv!;
			}
		}
	}
}