.self {
	var .fix.z9999.l.t.r.b.bc-f1f1f1;

	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;


	.header {
		var .bc-e1e1e1.rel.nosel;
		-webkit-box-flex: 0;
    	-ms-flex: none;
    	flex: none;

    	.header-inner {
    		var .h45.lh45.rel.z2;
    	}
    	.header-bg {
    		var .abs.rubb.o1.z1;
    	}

    	.close {
    		var .abs.r12.t10.pntr.fs24;
    	}
		
		.title {
			var .abs.l.t.fs18.pl20;

			.project {
				var .abs.l100p.t.ml30.fs14.nowr.c-fff.p0-10.pntr.cen.mnw100.box.lh36.mt4.br3;
			}
		}
		.logo {
			var .c-222.tshad-fff-3.bold.it.fs20.inb.mr15;
			
			..icon {
				var .fl.mt11.mr1.c-222;
			}
		}
		.right-menu {
			var .abs.r50.t50p.mt-14.fs13.lh16;
			.menu-item  {
				var .inb.ml5.pntr.p5-10.br4.rel;
				&.active {
					var .bc-555.c-eee;
					.menu-item-bg {
						var .bl;
					}
				}
				.menu-item-inner {
					var .rel.z2;
				}
				.menu-item-bg {
					var .abs.rubb.br4.none.o5;
				}
				&:after {
					var .cnt.abs.rubb.z3;
				}
			}
		}
	}
	.footer {
		var .bc-e1e1e1.abs.nosel.l.r.b.h55;

		.footer-inner {
			var .h45.lh45.rel.z2;
		}
		.footer-bg {
    		var .abs.rubb.o1.z1;
    	}

		.added-users {
			var .abs.t.pt6.l100;
			
		}
		..avatar {
			var .wh44.inb.mr5.vtop;
		}
		.users {
			var .abs.t.r.pt6;
		}
	}
	.outer-content {
		position: relative;
    	-webkit-box-flex: 1;
    	-ms-flex-positive: 1;
    	flex-grow: 1;
	}
	.content {		
		user-select: none;
	    white-space: nowrap;
	    overflow-x: auto;
	    overflow-y: hidden;
	    position: absolute;
	    left: 5px;
	    top: 5;
	    right: 5;
	    bottom: 55px;

		.column {
			var .rel.w20p.inb.mnw300.p5.box.vtop.h;
		}
	}
	.tasks {
		var .rel.bc-fff.br5.p7.pr.pt35.box.shad-c1c1c1-3.mxh100p;

	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
    	flex-direction: column;
   		white-space: normal;
	}
	.empty {
		var .abs.l5.r5.t.b.bc-fff.br5.p7.pt35.box.shad-eee-10;
	}
	.column-title {
		var .abs.t.l.r.bc-555.c-fff.br5-5-0-0.box.p5-10.fs14;
		&:before {
			var .cnt.abs.rubb.br5-5-0-0.o4.bc-000;
		}
		.column-title-inner {
			var .rel.z2;
		}
	}
	.column-content {
		var .pr7.z1.mb;
	    -webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	    flex: 1 1 auto;
	    overflow-y: auto;
	    overflow-x: hidden;
	    min-height: 0;
	}
}
