.self {
	var .p10-20;
	
	.content {
		var .abs.l20.r.t20.b20.ova.pr20;
	}
	table {
		var .w;
		td {
			var .vtop;

			&:first-child {
				width: auto;
				var .pr20;
			}
			&:nth-child(2) {
				var .w200.bc-f2f2f2.pb30;
			}
			&:last-child {
				var .w110.bc-f2f2f2.pb30;
			}
		}
	}
	.title {
		var .fs19.mb5.mt16.lh19;
		&..importance-burning {
			var .p6-10.br3.bo-d8a42b.bc-ffd576.mb12;
		}
		&..importance-urgent {
			var .p6-10.br3.bo-d82b3b.bc-ffa3a7.mb12;
		}
	}
	.subtasks {
		var .mb20.bo-ddd;
		.subtask {
			var .lh16.pb5;
		}
		.subtask-list {
			var .p10;
		}
		.subtasks-title {
			var .bc-f2f2f2.bold.fs14.p8-10;
			..icon {
				var .fs24.fl.mt-4.mr7.c-777;
			}
		}
		..checkbox..checkbox-checked {
			..checkbox-label {
				text-decoration: line-through;
			}
		}
	}
	.status {
		var .bc-eaeaea.p10.bo-e7e7e7.fs15.h58.box.rel;
		.left-side {
			var .fl.fs16.bold;
		}
		.changed {
			var .norm.fs13;
		}
		.right-side {
			var .abs.r.t8;
			& > div {
				var .inb.vmid.mr15;
				..icon {
					var .fl.mr6.fs22.c-777.mt-1;
				}
			}
		}
		&..status-ready {
			var .boc-d0eab4.bc-f2ffe5;
		}
		&..status-in_work {
			var .boc-eae6b4.bc-fffbe5;
		}
		&..status-delayed {
			var .boc-aaa.bc-e8e8e8;
		}
		&..status-frozen {
			var .boc-b9ccdc.bc-e5f3ff;
		}
	}
	.time {
		var .rel.p12-15-12-55.m10-0-20-0.bo-ddd;
		..icon {
			var .abs.l12.t50p.mt-14.fs28;
		}
		&..status-frozen {
			.timeleft {	
				var .o4;
			}
			.scale-outer {
				.scale {
					var .bc-d8e4e8;
				}
			}
		}
		.timeleft {
			var .pt3;
		}
		&.with-scale {
			var .pt18;
		}
	}
	.description {
		var .fs14.mb20.lh19.mnh100.bc-f2f2f2.mt12.p10;
	}
	.caption {
		var .mb6.fs13.bc-777.c-eee.br3.p1-5-2-5;
	}
	.scale-outer {
		var .abs.t3.r3.l3.h5.bc-f1f1f1;
		.scale {
			var .h5;
			&.scale-green {
				var .bc-93da5e;
			}
			&.scale-yellow {
				var .bc-e4df46;
			}
			&.scale-orange {
				var .bc-f1b13c;
			}
			&.scale-red {
				var .bc-fd5959;
			}
			&.scale-dark {
				var .bc-b10041;
			}
		}
	}
	.history {
		var .w200.box.fs13.p10;
		.action {
			var .pb6.mb6.bob-d4d4d4.rel.pl58;
			..avatar {
				var .abs.wh44.l5.t2;
			}
			.action-name {
				var .bold.pb2;
			}
			.action-time {
				var .fs12;
			}
			.action-ago {
				var .c-888.lh12.fs12.p2-0;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	.participants {
		var .w110.box;
		..avatar {
			var .mb3;
		}
	}
	.participant {
		var .bob-d4d4d4.p10.pb0;
		&:last-child {
			border-bottom: 0;
		}
		.name {
			var .fs14.bold.pb10;
		}
	}
	.info {
		var .pt10;
		.info-block {
			var .mb15;
		}
		.info-block-title {
			var .mb5.bc-f2f2f2.bold.fs14.p8-10;
			..icon {
				var .fs24.fl.mt-4.mr7.c-777;
			}
		}
		.info-block-content {
			var .p10.fs14.lh18;
			a {
				var .c-0075cc;
			}
		}
	}
	.comments {
		var .pt10;
	}
	.problems {
		var .pt10;
	}
	.actions,
	.link {
		var .abs.t-20.r100p.mr20.bc-fff.wh50.br50p.shad-333-2.cen.pntr.c-555.nosel;
		..icon {
			var .lh50.fs26;
		}
		&:hover {
			var .c-333.shad-000-2;		
		}
	}
	.actions {
		var .t40;
	}
	.prev,
	.next {
		var .fix.t50p.mt-70.wh140.br50p.bc-555.c-eee.pntr.box.nosel;
		..icon {
			var .fs50.lh140;
		}
		&:hover {
			var .bc-333;
		}
	}
	.prev {
		var .l-70.rt.pr15;
	}
	.next {
		var .r-70.pl15;
	}
}