.x-task-dialog-box {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;

	.x-task-dialog-mask {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #a6a6a6;
		opacity: 0.9;
	}

	&.x-task-large-dialog {
		.x-task-dialog {
			width: 1000px;
			height: 100%;
		}
		.x-task-dialog-content {
			position: absolute;
			top: 50px;
			left: 0;
			right: 0;
			bottom: 60px;
			padding: 15px 0;
		}
		.x-task-dialog-buttons {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	&.x-task-notification-dialog {
		.x-task-dialog {
			width: 540px;
		}
	}
	&.x-task-narrow-dialog {
		.x-task-dialog {
			width: 360px;
		}
	}

	.x-task-dialog {
		position: relative;
		z-index: 9991;
		background-color: #fff;
		box-shadow: 0 0 2px #333;
	}

		
	.x-task-dialog-title {
		position: relative;
		background-color: #555;
		color: #fff;
		font-size: 18px;
		line-height: 30px;
		padding: 10px 20px;
	}
	.x-task-dialog-content {
		position: relative;
		font-size: 14px;
		padding: 15px 20px;
	}
	.x-task-dialog-close {
		position: absolute;
		right: 12px;
		top: 12px;
		cursor: pointer;
	}
	.x-task-dialog-buttons {
		position: relative;
		box-sizing: border-box;
		min-height: 55px;
		padding: 12px 20px;
		border-top: 1px solid #d4d4d4;
		background-color: #e9e9e9;
		
		* {
			margin-right: 8px;
		}
		&.at-right {
			float: right;
			margin-right: 0;
			margin-left: 8px;
		}
	}
}